body {
	background-color: lightgrey;
}

p {
	font-size: 25px;
	font-family: Girassol;
	margin-left: 1.66%;
	border-bottom: 3px solid white;
	width: 30%;
	text-transform: uppercase;
}

img {
	width: 30%;
	float: left;
	margin: 1.66%;
}